body
{
	background-color: #635a36;
	color: #ffffff;
	font-size: 20px;
	margin: 0 !important;
}

.wrapper
{
	width: 100%;
}

.header
{
	width:100%;
	padding: 40px 0;
	background-color: #332900;
}

.logo
{
	width: 450px;
	font-size: 48px;
	margin-left: auto;
	margin-right: auto;
	color: #ffcc00;
	font-family: 'Exo', sans-serif;
	font-weight: 700;
}

.nav
{ 
	width: 100%;
	padding: 10px 0;
	background-color: #ffcc00;
	text-align: center;
	border-top: 1px solid #332900;
	border-bottom: 2px solid #332900;
	position: sticky;
	top: 0;
}

.content
{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	text-align: justify;
	padding-top: 10px;
}

.socials
{
	width:100%;
	text-align: center;
	background-color: #292929;
}

.footer
{
	text-align: center;
	background-color: #332900;
	color: #ffcc00;
	padding: 30px;
}

.sticky
{
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 100;
}

ol
{
	padding: 0;
	margin: 0;
	list-style-type: none;
	font-size: 18px;
	height: 35px;
	line-height: 200%;
	display: inline-block;
}

ol a
{
	color: #332900;
	text-decoration: none;
	display: block;
}

ol > li
{
	float: left;
	width: 150px;
	height: 40px;
	border-right: 2px dashed #332900;
}

ol > li:first-child
{
	border-left: 2px dashed #332900;
}

ol > li:hover
{
	background-color: #635a36;
}

ol > li:hover > a
{
	color: #ffffff;
}