body{
	background-color: #635a36;
	color: #ffffff;
	font-size: 20px;
	margin: 0 !important;
}

.wrapper{
	width: 100%;
}

.header{
	width:100%;
	padding: 40px 0;
	background-color: #332900;
}

.logo{
	width: 450px;
	font-size: 48px;
	margin-left: auto;
	margin-right: auto;
	color: #ffcc00;
	font-family: 'Exo', sans-serif;
	font-weight: 700;
}

.nav{ 
	width: 100%;
	padding: 10px 0;
	color: #332900;
	background-color: #ffcc00;
	text-align: center;
	border-top: 1px solid #332900;
	border-bottom: 2px solid #332900;
	position: sticky;
	top: 0;
}

.content{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	text-align: justify;
	padding-top: 10px;
	min-height: 449px;
}

.footer{
	text-align: center;
	background-color: #332900;
	color: #ffcc00;
	padding: 20px;
}

ol{
	padding: 0;
	margin: 0;
	list-style-type: none;
	font-size: 18px;
	height: 35px;
	line-height: 200%;
	display: inline-block;
}

ol a{
	color: #332900;
	text-decoration: none;
	display: block;
}

ol > li{
	float: left;
	min-width: 150px;
	height: 40px;
	border-right: 2px dashed #332900;
}

ol > li:first-child{
	border-left: 2px dashed #332900;
}

ol > li > a:hover{
	background-color: #635a36;
}

ol > li:hover > a{
	color: #ffffff;
}

.row{
	margin: 20px 10px;
}

#comment{
	resize: none;
}

#amount{
	text-align: right;
}

input, select{
	width: 160px;
	font-weight: bold;
}

input:focus:not([type="reset"]), select:focus, textarea:focus, input[type="submit"]:hover, input[type="reset"]:hover, button:hover{
	outline: none;
	box-shadow: 0px 0px 5px 5px #ffcc00;
}

input[type="submit"]{
	width: 160px;
	height: 30px;
	background-color: #33cc33;
	cursor: pointer;
}

input[type="reset"]{
	margin-left: 30px;
	width: 160px;
	height: 30px;
	background-color: #3333cc;
	cursor: pointer;
}

button{
	font-weight: bold;
	margin-left: 30px;
	width: 160px;
	height: 30px;
	background-color: #cc3333;
	text-decoration: none;
	cursor: pointer;
}

.buttonLarge{
	text-align: center;
	line-height: 70px;
	font-size: 30px;
	height: 70px;
	width: 300px;
	padding: 20px;
	margin: 20px 70px;
	color: #332900;
	background-color: #ffcc00;
	display: inline-block;
	font-family: 'Exo', sans-serif;
	font-weight: 700;
}

.buttonLarge:hover{
	box-shadow: 0px 0px 10px 10px #332900;
}

.loginPanel{
	width: 60%;
	margin: auto;
	line-height: 150%;
}

.loginPanel a{
	text-decoration: none;
	color: #ffcc00;
}
